##################################
#           PRODUCTION           #
##################################

##### Frameworks #####

--extra-index-url https://test.pypi.org/simple/
autonomous == 0.0.102
gql

##### System #####

setuptools
python-dotenv

##### Network #####

requests

##### AI #####

openai

##### Parsing #####

python-slugify
markdown
